.likelist_container
    width: 98%
    display: flex
    justify-content: space-between 
    color: white
    background-color: cornflowerblue
    margin: 0.5rem
           
    .likelist_item
        width: 75%
        text-align: center

.mat-button:hover
    color: #69F0AE
    