<style>
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
    main {
      width: 60%;
      margin: auto;
      height: 70%;

    }
    nav {
      background-color: pink;
    }
    div {
      background-color: lightgray;
      display: flex;
      justify-content: center;
    }
  </style>

  <main>
      <nav>
          <a>Like List</a>
      </nav>

      <div>
        Setting Panel
      </div>

      <div>
        <button>
          Logout button
        </button>
      </div>

      <nav>
        <button>My Profile</button>
        <button>News Feed</button>
        <button>Settings</button>
      </nav>

  </main>
