<main>
  <nav class="nav justify-content-end nav-top">
    <a class="nav-link active" id="like-list">Like List</a>
  </nav>

  <div class="div__main">

    <fieldset>
      Setting Panel
    </fieldset>

    <button class="btn btn-danger" id="btn-logout">
      Logout
    </button>

  </div>

  <nav class="nav justify-content-center nav-bottom">
    <button class="btn" id="btn-profile">My Profile</button>
    <button class="btn" id="btn-feed">News Feed</button>
    <button class="btn" id="btn-setting">Settings</button>
  </nav>

</main>
