.header
    text-align: center
    margin-top: 6.4rem

.card-profile
    max-width: 25rem
    margin-left: 30%
    background-color: cornflowerblue
    
.header-image 
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
    background-size: cover

.mat-card-actions
    display: flex
    justify-content: space-around
    .icons
        display: flex
        justify-content: space-around
        align-items: center        
        width: 30%
        
.form-profile
    display: flex
    flex-direction: column


     