#search-container
    display: inline-block
    padding: 1rem
    margin: 1rem
    width: 100%

form
    display: flex

.fieldset
    display: flex
    justify-content: space-between
    justify-self: center
    flex-direction: column
    width: 90%
    padding: 1rem

#input-search
    flex-basis: 90%
    border-radius: .3rem
    line-height: 4rem
    text-align: left
    padding: .3rem
    margin-top: .3rem
    margin-bottom: .3rem

figcaption,
label
    text-align: left
