.mat-dialog-container 
    background-color: transparent

.commentsField
    
    ul 
        width: 90%
        margin: 2rem auto
        
        .commentlist 
            width: 100% 


.avatar
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
    background-size: cover            


.comment-card
    // background-color: #82a8f5 
   
    background-color: #a2bff4   

.comment-content
    margin-left: 5.5rem  

mat-dialog-actions
    button

        margin: auto 0 0 auto