<section class="displayPostsField">
  <ul>
    <li class="postlist" *ngFor="let story of storyList">
      <div class="postHeader">
        <img [src]="avatarUrl" alt="avatar" />
        <div [ngStyle]="{ fontSize: '2rem', color: 'green' }">user name</div>
      </div>
      <div class="postContent">{{ story.content }}</div>
      <div class="postFooter">
        <div class="commentIcon">
          <button
            (click)="
              comments.style.display === 'block'
                ? (comments.style.display = 'none')
                : (comments.style.display = 'block')
            "
          >
            <mat-icon aria-hidden="false" color="accent"
              >comment</mat-icon
            ></button
          ><span>Number</span>
        </div>
        <div class="empty"></div>
        <div class="likeIcon">
          <button>
            <mat-icon aria-hidden="false" color="warn"
              >favorite</mat-icon
            ></button
          ><span>Like Number{{ likenumber }}</span>
        </div>
      </div>
      <div #comments style="display: none">
        <app-comment> </app-comment>
      </div>
    </li>
  </ul>
</section>
