<section class="displayPostsField">
  <ul>
    <li class="postlist" *ngFor="let story of storyList">
      <mat-card class="postlist-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>{{ story.publisherName }}</mat-card-title>
          <mat-card-subtitle>{{
            story.publishedTime | date: "longDate"
          }}</mat-card-subtitle>
        </mat-card-header>
        <img
          class="postlist-img"
          *ngIf="story.content"
          mat-card-image
          [src]="story.content.image"
          [alt]=""
        />
        <mat-card-content>
          <p class="card-content" *ngIf="story.content">
            {{ story.content.text }}
          </p>
        </mat-card-content>
        <mat-card-actions
          class="card-actions"
          [ngStyle]="{ display: 'flex', 'justify-content': 'space-between' }"
        >
          <div>
            <button mat-button (click)="gotoStoryComment(story)">Comment</button
            ><span>{{ story.comment?.length }}</span>
          </div>
          <div>
            <button mat-button (click)="addLikeList(story, likes)">
              <p #likes>{{ likeBtn }}</p></button
            ><span>{{ story.likedIdList?.length }}</span>
          </div>
        </mat-card-actions>
      </mat-card>
      <!-- <div #comments style="display: none">
        <app-comment [story]="story"> </app-comment>
      </div> -->
    </li>
  </ul>
</section>
