.displayPostsField
    width: 100%
    background-color: cornflowerblue
    margin: 1rem auto
    display: flex
    flex-direction: column
    border-radius: 3px

.displayPostsField
    ul 
        width: 95%
        margin: 1rem auto
        
.postlist 
    width: 100% 
    
    
.avatar
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
    background-size: cover
    

.postlist-card
    margin: 2rem 1rem
    padding: 2rem
    background-color: #82a8f5

.postlist-img
    width: 90%
    margin-left: auto
    margin-right: auto

.card-actions
    padding: 2rem
    
.card-content
    text-align: center