<div id="register" class="section">
  <h1> Welcome to Antra </h1>
  <form if="login-form" [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" formControlName="username" value={{user?.userName}} required>
    </div>
    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
      <p *ngIf="username?.errors?.['required']"> Required field. </p>
      <p *ngIf="username?.errors?.['minlength']"> Minimum 5 characters. </p>
      <p *ngIf="username?.errors?.['maxlength']"> Maximum 12 characters. </p>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" formControlName="email" value={{user?.userEmail}} required>
    </div>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <p *ngIf="email?.errors?.['required']"> Required field. </p>
      <p *ngIf="email?.errors?.['minlength']"> Minimum 5 characters. </p>
      <p *ngIf="email?.errors?.['validEmail']"> It not an email address. </p>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password" name="password" required>
    </div>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <p *ngIf="password?.errors?.['required']"> Required field. </p>
      <p *ngIf="password?.errors?.['minlength']"> Minimum 5 characters. </p>
      <p *ngIf="!password?.errors?.['validPassword']"> Minimum 1 uppercase, 1 lowercase and 1 special character. </p>
    </div>

    <div class="form-group">
      <label for="comfirm">Password Comfirm:</label>
      <input type="password" class="form-control" id="comfirm" formControlName="cPassword" name="cPassword" required>
    </div>
    <div *ngIf="cPassword?.invalid && (cPassword?.dirty || cPassword?.touched)">
      <p *ngIf="cPassword?.errors?.['required']"> Required field. </p>
      <p *ngIf="cPassword?.errors?.['minlength']"> Minimum 5 characters. </p>
      <p *ngIf="!cPassword?.errors?.['validpassword']"> Minimum 1 uppercase, 1 lowercase and 1 special character. </p>
    </div>
    <p>{{error}}</p>
    <button class="btn btn-lg btn-black">Register</button>
  </form>
</div>


 
