<section class="postNewsField">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy" class="inputField">
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="news"></textarea>
      <mat-hint></mat-hint>
      <mat-error></mat-error>
      <div class="submitBtn">
        <button
          mat-raised-button
          color="primary"
          class="btn btn-fullWidth"
          type="submit"
        >
          Post
        </button>
      </div>
    </mat-form-field>
  </form>
</section>
