<section class="postNewsField">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy" class="inputField">
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="news" #myInput></textarea>
      <mat-hint></mat-hint>
      <mat-error>Name is required</mat-error>
      <div class="submitBtn">
        <button mat-raised-button color="primary" class="fw" type="submit">
          Post
        </button>
      </div>
    </mat-form-field>
  </form>
</section>
