<nav class="navbar">
  <div class="dropdown">
    <button class="dropbtn">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="dropdown-content">
      <a routerLink="/profile">Profile</a>
      <a routerLink="/newsfeed">News Feed</a>
      <a routerLink="/settings">Settings</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/admin">Admin</a>
    </div>
  </div>
  <div *ngIf="likeListBtn">
    <button class="likelist" (click)="triggerLikeList()">Like List</button>
    <div *ngIf="showLikeList" class="likelist-content" style="right: 0">
      <app-like-list
        [likelist]="likeList"
        (onClose)="triggerLikeList()"
      ></app-like-list>
    </div>
  </div>
</nav>
