<style>

</style>

<div id="profile" class="section">
  <h1>Your Profile</h1>
  <div id="avatar">
    <p>ANTRA</p>
  </div>

  <div id="info">
    <p><b>Username: </b> <span>place for username</span></p>
    <p><b>Email: </b> <span>place for email name</span></p>
    <p><b>Age: </b> <span>place for the age</span></p>
    <p><b>Gender: </b> <span>place for gender</span></p>
    <p><b>Password: </b> <span>place for password <button class="btn-primary">show</button></span></p>  
  </div>

  <div id="history">
    <button id="infoButton" class="btn btn-primary">Post</button>
    <button id="infoButton" class="btn btn-primary">Like</button>
  </div>
</div>


