nav
    background-color: lightblue
    display: flex
    justify-content: flex-end
    
    button
        margin: 0.5rem
        

.admin_container
    display: flex

    .user_list
        width: 40%
        min-height: 90vh
        background-color: lightgrey

    .user_details
        width: 60%