.commentsField
    ul 
        width: 90%
        margin: 2rem auto
        
        .commentlist 
            width: 100% 
            background-color: darkgrey 

        .commentHeader
            width: 100%
            display: flex
            justify-content: flex-start
            img
                width: 8rem
                height: 8rem
                border-radius: 50%
                margin: 0.5rem
            div
                margin: auto 1rem
        .commentContent
            
            height: 10rem
            border: 0.1rem black solid
            
