<main>
  <nav class="nav justify-content-end nav-top">
    <button class="btn" id="btn-admin">Admin</button>
  </nav>

  <div class="div__main">

    <nav class="nav-left">
      <ul>
        <li>
          <p>User Tag 1</p>
          <button class="btn btn-warning btn-delete">Delete</button>
        </li>
        <li>
          User Tag 2
          <button class="btn btn-warning btn-delete">Delete</button>
        </li>
        <li>
          User Tag 3
          <button class="btn btn-warning btn-delete">Delete</button>
        </li>
      </ul>

      <button class="btn btn-success btn-addUser">Add User Button</button>
    </nav>

    <div class="detail">
        <ul>User Detailed Info Panel
          <li>UserName: Name</li>
          <li>Password: password</li>
          <li>UserEmail: Email</li>
          <li>Gender: gender</li>
          <li>Age: age</li>
        </ul>

    </div>

  </div>

  <nav class="nav justify-content-center nav-bottom">
    <button class="btn" id="btn-profile">My Profile</button>
    <button class="btn" id="btn-feed">News Feed</button>
    <button class="btn" id="btn-setting">Settings</button>
  </nav>

</main>
