<style>
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
    main {
      width: 60%;
      margin: auto;
      height: 70%;
    }
    nav {
      background-color: pink;
    }
    div {
      background-color: lightgray;
      display: flex;
      justify-content: center;
    }
    ul {
      list-style: none;
    }

  </style>

  <main>
    <nav>
      <button>Admin</button>
    </nav>

    <div>

      <nav>
        <ul>
          <li>
            User Tag 1
            <button>Delete</button>
          </li>
          <li>
            User Tag 2
            <button>Delete</button>
          </li>
          <li>
            User Tag 3
            <button>Delete</button>
          </li>
        </ul>

        <button>Add User Button</button>
      </nav>

      <div>
          <ul>User Detailed Info Panel
            <li>UserName: Name</li>
            <li>Password: password</li>
            <li>UserEmail: Email</li>
            <li>Gender: gender</li>
            <li>Age: age</li>
          </ul>

      </div>

    </div>

    <nav>
      <button>My Profile</button>
      <button>News Feed</button>
      <button>Settings</button>
    </nav>

  </main>
