<style>
    .dropdown {
      display: inline-block;
      color: red;
      z-index: 1
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 10rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 2;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
</style>

<div class="dropdown">
    <h2>Liked: {{likedNewsList.length}} News</h2>

    <div
        class="dropdown-content"
        *ngIf="likedNewsList && likedNewsList.length">
        <div *ngFor="let likedNews of likedNewsList">
            <p>{{likedNews | json}}</p>
        </div>
    </div>

</div>
