*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 30rem;
    transform: translateY(-5rem);
}

h1 {
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
}

.name,
.pass {
    display: flex;
    justify-content: space-between;
}

form input[type=text],
[type=email],
[type=password] {
    margin: 0.5rem 0;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 1rem;
}

.firstName,
.lastName,
.password,
.confirm {
    width: 48%;

}

input[type=text]:focus,
[type=email]:focus,
[type=password]:focus {
    outline: none;
    border: 1px solid rgba(115, 182, 235, 1);
    box-shadow: 0 0 8px rgba(66, 139, 199, 1);
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.check .checkbox{
    cursor: pointer;
}
.check p {
    max-width: 80%;
    text-align: start;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2rem;
}

p>strong {
    background: rgba(66, 139, 199, 1);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    color: white;
}

p>a {
    text-decoration: none;
    color: rgba(66, 139, 199, 1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
}

.register,
.signIn {
    width: 48%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.buttons .register {
    background: rgba(66, 139, 199, 1);
}

.buttons .signIn {
    background: rgba(92, 184, 92, 1);
}

.register:hover,
.signIn:hover{
    opacity: 0.85;
}

@media only screen and (max-width: 600px){
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 2rem;
        max-width: 30rem;
        transform: translateY(-5rem);
    }

    .check p {
        max-width: 70%;
        text-align: start;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.8);
        line-height: 1.2rem;
    }

}