<section class="displayPostsField">
  <ul>
    <li class="postlist">
      <div class="postHeader">
        <img [src]="avatarUrl" alt="avatar" />
        <div>user name</div>
      </div>
      <div class="postContent"></div>
      <div class="postFooter">
        <div class="commentIcon">
          <button>
            <mat-icon aria-hidden="false" color="accent"
              >comment</mat-icon
            ></button
          ><span>Comment Number</span>
        </div>
        <div class="empty"></div>
        <div class="likeIcon">
          <button>
            <mat-icon aria-hidden="false" color="warn"
              >favorite</mat-icon
            ></button
          ><span>Like Number</span>
        </div>
      </div>
    </li>

    <li class="postlist">
      <div class="postHeader">
        <img [src]="avatarUrl" alt="avatar" />
        <div>user name <span>Publish time</span></div>
      </div>
      <div class="postContent"></div>
      <div class="postFooter">
        <div class="commentIcon">
          <button>
            <mat-icon aria-hidden="false" color="accent"
              >comment</mat-icon
            ></button
          ><span>Comment Number</span>
        </div>
        <div class="empty"></div>
        <div class="likeIcon">
          <button>
            <mat-icon aria-hidden="false" color="warn"
              >favorite</mat-icon
            ></button
          ><span>Like Number</span>
        </div>
      </div>
    </li>
  </ul>
</section>
