*
  box-sizing: border-box
  text-align: center

.section
  border: 1px solid gray
  border-radius: 5px
  margin: 20px auto
  padding: 20px
  display: flex
  height: auto
  max-width: 1000px

p,h1,h2.h3,h4,h5,h6
  font-family: Arial, sans-serif


