*
  box-sizing: border-box
  text-align: center

.section
  border: 1px solid gray
  border-radius: 10px
  margin: 100px auto 0px auto
  padding: 20px
  display: flex
  height: auto
  max-width: 1000px
  flex-direction: column
  flex-wrap: wrap
  text-align: center  

p,h1,h2.h3,h4,h5,h6,li
  font-family: Arial, sans-serif

.btn-black
  background-color: black
  color: white

.btn-grey
  background-color: grey
  color: white

.btn-black:hover
  background-color: white
  color: black
  border: 1px solid black

.btn-grey:hover
  background-color: white
  color: grey
  border: 1px solid grey

.avatar
  border-radius: 50%
  background: black
  text-align: center
  color: white




  


