<main>
  <form class="div__main" [formGroup]="form">
    <fieldset>
      <img class="logo" src="#" />
      <div class="row">
        <label for="useremail" id="label-useremail">Useremail</label>
        <input
          #useremail
          type="text"
          id="useremail"
          formControlName="useremail"
        />
      </div>
      <div class="row">
        <label for="password" id="label-username">Password</label>
        <input
          #password
          type="password"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        mat-raised-button
        (click)="onLogin()"
        class="btn btn-login btn-green"
      >
        Login
      </button>
      <div class="row">
        <a (click)="onRegister()" target="_blank">
          No Account? Register Now!
        </a>
      </div>
      <div class="row">
        <input type="checkbox" id="agreement" />
        <label for="agreement">Agreement</label>
        <a href="#" target="_blank">Need Help?</a>
      </div>
    </fieldset>
  </form>
</main>
