#admin
  flex-direction: row
  flex-wrap: wrap

#userList
  background-color: grey
  min-height: 600px
  width: 40%
  border-radius: 10px
  position: relative

#infoButton
  width: 90%
  position: absolute
  left: 5%
  bottom: 3%

ul
  padding-left: 0

li
  width: 90%
  margin: 10px auto
  border-radius: 5px
  height: auto
  background-color: black
  color: white
  list-style-type: none
  text-align: left
  position: relative

li span
  font-size: 2.5rem
  padding: 20px

li button
  position: absolute
  right: 10px

#detail
  width:60%
  position: relative

table
  margin: auto
  position: absolute
  top: 20%
  left: 20%

p
  font-size: 2rem
  text-align: left

td
  padding: 10px

  


