<div
  *ngFor="let comment of comments"
  class="comment">

  <div class="commenter">

    <div
      class="avatar">
    </div>

    <h5>{{ comment.publisherName ?
      comment.publisherName :
      "- No comment.publisherName." }}
    </h5>

  </div>


  <p
    *ngIf="comment.content"
    class="content">

    <img
      class="content content-image"
      *ngIf="comment.content.image && comment.content.image.trim()"
      src={{comment.content.image}}/>

    <p
      class="content content-text"
      *ngIf="comment.content.text">comment.text: {{ comment.content.text }}

    <p
      class="content content-video"
      *ngIf="comment.content.video && comment.content.image.trim()">comment.video: {{ comment.content.video }} />

</div>
