form 
  width: 60%
  max-width: 32rem
  margin: 1rem auto
  border: 0.1rem grey solid


form
  background-color: cornflowerblue
  div 
    display: flex
    flex-direction: column
    margin: 1rem
    img
        width: 26rem
        margin: 1rem auto


form 
    label 
        margin: 0.4rem 0
  

#form-footer 
  display: flex
  flex-direction: row
  justify-content: space-between

#linkToRegister 
  text-align: center
   