<div
  *ngIf="news"
  id="story">

  <div
    id="poster">

    <img
      [src]="avatar"
      id="avatar"
      class="avatar" />

    <h4>
      {{ news.publisherName? news.publisherName : "- publisherName -" }}:
    </h4>
  </div>

  <p *ngIf="!news.content">news.content is not exist

  <p *ngIf="news.content"
    id="content">

    <img *ngIf="news.content.image"
      src={{news.content.image}} />

    <p *ngIf="news.content.text">
      news.content.text: {{news.content.text}}

    <p *ngIf="news.content.video && news.content.video.length">
      news.content.video: {{news.content.video}}
  </p>

  <app-like-story-input
    [newsList]="newsList"
    [news]="news"
    [likes]="news.likedIdList">
  </app-like-story-input>

  <!-- comment section -->
  <div
    [style.visibility]=" showComment ? 'visible' : 'hidden' "
    *ngIf="news.comment && news.comment.length"
    id="other">

    <app-comment [comments]="news.comment"></app-comment>
  </div>

  <div id="feedback">
    <input id="comment1" type="text" />
    <button
      (click)="showHideComments()"
      id="comment2"
      class="btn-black btn btn-sm">
      {{ showComment ? "Hide Comment" : "See Comment"}}
    </button>
  </div>
</div>
