<div id="profile" class="section">
  <h1>Your Profile</h1>
  <div id="avatar" class="avatar">
  </div>

  <table>
    <tr>
      <td><p><b>Username:</b></p></td>
      <td><input type="text" value="AngularSis" /></td>
    </tr>
    <tr>
      <td><p><b>Email:</b></p></td>
      <td><input type="email" value="AngularSis@gmail.com" /></td>
    </tr>
    <tr>
      <td><p><b>Age:</b></p></td>
      <td><input type="text" value="18" /></td>
    </tr>
    <tr>
      <td><p><b>Gender:</b></p></td>
      <td><input type="text" value="unknown" /></td>
    </tr>
    <tr>
      <td><p><b>Password:</b></p></td>
      <td><input type="password" value="1234567890AB" /></td>
    </tr>
    <tr>
      <td><button class="btn btn-sm btn-grey">Save</button></td>
      <td><button class="btn btn-sm btn-grey">Show Password</button></td>
    </tr>
  </table>

  <div id="history">
    <button id="infoButton" class="btn btn-lg btn-black">Your Post 30</button>
    <button id="infoButton" class="btn btn-lg btn-black">Your Like 30</button>
  </div>
</div>


