<div id="profile" class="section">
  <h1>Your Profile</h1>

  <img [src]="avatar"
    id="avatar"
    class="avatar">

  <form
    if="login-form"
    [formGroup]="inputForm"
    (ngSubmit)="onSave()">

    <table>

      <tr>
        <td><p><b>
          <label for="username">
            Username:
          </label>
        </b></p></td>
        <td>
          <input
          id="username"
          type="text"
          value={{user?.userName}}
          name="username"
          formControlName="username"
          required/>

        </td>
      </tr>
      <!-- error message for username input -->
      <tr *ngIf="username?.invalid &&
        (username?.dirty || username?.touched)"
        class="alert">
        <td></td>
        <td *ngIf="username?.errors?.['required']">
          Required field.
        </td>
        <td *ngIf="username?.errors?.['minlength']">
          Minimum 5 characters.
        </td>
        <td *ngIf="username?.errors?.['maxlength']">
          Maximum 12 characters.
        </td>
      </tr>


      <tr>
        <td><p><b>
          <label for="password">
            Password:
          </label>
        </b></p></td>
        <td>
          <input
          type="{{hide ? 'password' : 'text'}}"
          name="password"
          formControlName="password"
          required/>
        </td>
        <td>
          <button
            class="btn btn-sm btn-grey"
            (click)="toggleShow()">
            {{hide ? 'Show' : 'Hide'}}
          </button>
        </td>
      </tr>

      <!-- error message for password input -->
      <tr *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="alert">
        <td></td>
        <td *ngIf="password?.errors?.['required']">
          Required field.
        </td>
        <td *ngIf="password?.errors?.['minlength']">
          Minimum 5 characters.
        </td>
        <td *ngIf="!password?.errors?.['validPassword']">
          Minimum 1 uppercase, 1 lowercase and 1 special character
        </td>
      </tr>


      <tr>
        <td><p><b>
          <label for="gender">
            Gender:
          </label>
        </b></p></td>
        <td>
          <input
          type="text"
          value={{user?.gender}}
          name="gender"
          formControlName="gender"/>
        </td>
      </tr>


      <tr>
        <td><p><b>
          <label for="age">
            Age:
          </label>
        </b></p></td>
        <td>
          <input
          id="age"
          type="text"
          value={{user?.age}}
          name="age"
          formControlName="age" />
        </td>
      </tr>


      <tr>
        <td><p><b>
          Email:
        </b></p></td>
        <td>
          <input
          id="email"
          type="text"
          value={{user?.userEmail}}
          name="email"
          formControlName="email"
          [disabled]="true"/>
        </td>
      </tr>


      <tr>
        <td><p><b>
          Phone:
        </b></p></td>
        <td>
          <input
          id="phone"
          type="text"
          value={{user?.phone}}
          name="phone"
          formControlName="phone"
          [disabled]="true"/>
        </td>
      </tr>


      <tr>
        <td></td>
        <td>
          <button
            type="submit"
            class="btn btn-sm btn-grey">
            Save
          </button>
        </td>
      </tr>

    </table>
  </form>

  <div id="history">
    <button
      id="infoButton"
      class="btn btn-lg btn-black">
      Your Post 30
    </button>
    <button
      id="infoButton"
      class="btn btn-lg btn-black">
      Your Likes: 30
    </button>
  </div>

</div>

<!-- <h3>Form Value</h3>
{{inputForm.value | json}} -->
