<div id="profile" class="section">
  <h1>Your Profile</h1>
  <div id="avatar" class="avatar">
  </div>

  <form
    if="login-form"
    [formGroup]="inputForm"
    (ngSubmit)="onSave()">

    <table>
      <tr>
        <td><p><b>Email:</b></p></td>
        <td>{{user?.userEmail}}</td>
      </tr>

    <tr>
      <td><p><b>
        <label for="username">
          Username:
        </label>
      </b></p></td>
      <td><input
        id="username"
        type="text"
        value={{user?.userName}}
        name="username"
        formControlName="username"
        required/>
      </td>
    </tr>
    <!-- error message for username input -->
    <tr *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      class="alert">

      <div *ngIf="username?.errors?.['required']">
        Username is required.
      </div>
      <div *ngIf="username?.errors?.['minlength']">
        Username must be at least 5 characters long.
      </div>
      <div *ngIf="username?.errors?.['maxlength']">
        Username must be at most 12 characters long.
      </div>
    </tr>

    <tr>
      <td><p><b>
        <label for="age">
          Age:
        </label>
      </b></p></td>
      <td>
        <input
        id="age"
        type="text"
        value={{user?.age}}
        name="age"
        formControlName="age" />
      </td>
    </tr>

    <tr>
      <td><p><b>
        <label for="gender">
          Gender:
        </label>
      </b></p></td>
      <td>
        <input
        type="text"
        value={{user?.gender}}
        name="gender"
        formControlName="gender"/>
      </td>
    </tr>

    <tr>
      <td><p><b>
        <label for="password">
          Password:
        </label>
      </b></p></td>
      <td>
        <input
        type="password"
        name="password"
        formControlName="password"/>
      </td>
    </tr>
    <!-- error message for password input -->
    <tr *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      class="alert">

      <div *ngIf="password?.errors?.['required']">
        Pasword is required.
      </div>
      <div *ngIf="username?.errors?.['minlength']">
        Password must be at least 5 characters long.
      </div>
    </tr>


    <tr>
      <td><button class="btn btn-sm btn-grey">Save</button></td>
      <td>
        <button
          class="btn btn-sm btn-grey"
          (click)="hide = !hide">
          Show / Hide Password
      </button>
    </td>
    </tr>
  </table>
  </form>

  <div id="history">
    <button id="infoButton" class="btn btn-lg btn-black">Your Post 30</button>
    <button id="infoButton" class="btn btn-lg btn-black">Your Like 30</button>
  </div>
</div>


<!-- <table>
  <tr>
    <td><p><b>Username:</b></p></td>
    <td><input type="text" value="AngularSis" /></td>
  </tr>
  <tr>
    <td><p><b>Email:</b></p></td>
    <td><input type="email" value="AngularSis@gmail.com" /></td>
  </tr>
  <tr>
    <td><p><b>Age:</b></p></td>
    <td><input type="text" value="18" /></td>
  </tr>
  <tr>
    <td><p><b>Gender:</b></p></td>
    <td><input type="text" value="unknown" /></td>
  </tr>
  <tr>
    <td><p><b>Password:</b></p></td>
    <td><input type="password" value="1234567890AB" /></td>
  </tr>
  <tr>
    <td><button class="btn btn-sm btn-grey">Save</button></td>
    <td><button class="btn btn-sm btn-grey">Show Password</button></td>
  </tr>
</table> -->
